@import url("variables.css");

* {
  box-sizing: border-box;
  text-decoration: none;
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  font-family: var(--sans-para);
  background-color: var(--bg-purple);
  color: var(--tx-purple);
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

main {
  max-width: 400px;
}

section {
  height: 100vh;
  padding: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.text-div {
  text-align: justify;
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

h1 {
  font-size: xx-large;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--sans-head);
  font-weight: bold;
  margin-bottom: 8px;
  background: -webkit-linear-gradient(135deg, var(--pr-color), var(--gr-color));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

a {
  color: inherit;
}

table {
  width: 100%;
}

table,
th,
td {
  border: 1px solid var(--tx-color);
  border-collapse: collapse;
  padding: 8px 0px;
  text-align: center;
}

.price-tag {
  font-weight: bold;
  cursor: pointer;
  transition: all 0.2s ease;
}

.price-tag:hover {
  color: var(--sc-color);
}

.price-tag:active {
  color: var(--tx-color);
}

.btn button {
  font-family: inherit;
  font-weight: bold;
  border-radius: 2px;
  border-style: none;
  background: linear-gradient(135deg, var(--pr-color) 0%, var(--gr-color) 100%);
  color: var(--sc-color);
  padding: 12px 16px;
  cursor: pointer;
  transition: all 0.2s ease;
}

.btn button:hover {
  transform: scale(1.1);
}

.btn button:active {
  transform: scale(1);
}

footer {
  padding: 20px;
  background: linear-gradient(
    135deg,
    var(--gr-purple) 0%,
    var(--pr-purple) 100%
  );
  color: rgba(255, 255, 255, 0.75);
  padding: 20px;
  width: 100%;
}

footer a {
  color: white;
}
