@import url("https://fonts.googleapis.com/css2?family=Livvic:wght@400;700&family=Pathway+Extreme:opsz,wght@8..144,400;8..144,700&display=swap");

:root {
  /* --serif-head: "Playfair Display", serif; */
  /* --serif-para: "EB Garamond", serif; */
  --sans-head: "Livvic", sans-serif;
  --sans-para: "Pathway Extreme", sans-serif;
  /* --monospace: "JetBrains Mono", monospace; */

  --white-200: rgba(255, 255, 255, 0.2);
  --white-400: rgba(255, 255, 255, 0.4);
  --white-600: rgba(255, 255, 255, 0.6);
  --white-800: rgba(255, 255, 255, 0.8);

  --tx-color: #b2becd;
  --bg-color: #12181b;
  --tr-color: #0e1417;
  --sc-color: #ffffff;

  --pr-red: #ef4444;
  --gr-red: #f38321;

  --pr-green: #22c55e;
  --gr-green: #277be1;

  --pr-purple: #a855f7;
  --gr-purple: #f10f9d;

  --pr-yellow: #eab308;
  --gr-yellow: #cb944d;
}
